.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    background-color: #f9f9f9;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
}
.links {
    display: block;
    background-color: lightskyblue;
    padding: 8px;
    width: 150px;
    border: 2px solid darkblue;
    align-self: flex-start;
}
h1 {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    background-color: lightgray;
    text-align:  center;
    border: 3px solid gray;
    
}
h2 {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: darkred;
    background-color: lightpink;
    text-align: left;
    border: 2px solid red;
    padding: 6px;
}
h3 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    background-color: lightyellow;
    text-align: left;
    border: 2px solid green;
    padding: 4px;
}
li {
    display: list-item;
    font-size: 18px;
    color: black;
    margin: 6px 0;
}
.text {
    display: block;
    font-size: 16px;
    color: dimgray;
    line-height: 1.5;
    margin: 8px 0;
}
ol {
    display: block;
    margin: 10px 0;
    padding-left: 20px;
    color: purple;
    background-color: blueviolet;
}