.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkblue;
    background-color: #9280c5;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 5%;
    gap: 5px;
}
.container-b {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkgreen;
    background-color: #80c5a1;
    align-items: baseline;
    flex-direction: column;
    border-radius: 5%;
    gap: 10px;
}
nav {
  padding: 12px;
  border-bottom: 1px dotted
    hsl(0deg 0% 0% / 0.2);
}
.links {
    display: block;
    background-color: lightskyblue;
    padding: 8px;
    width: 150px;
    border: 2px solid darkblue;
    align-self: flex-start;
    flex-basis: auto;
    border: 2px solid hsl(210deg 8% 50%);
    border-radius: 15%;
    
}
.logo a {
  font-size: 1.125rem;
  font-weight: 500;
}
h2 {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: darkred;
    background-color: lightpink;
    text-align: left;
    border: 2px solid red;
    padding: 6px;
}
h3 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    background-color: lightyellow;
    text-align: left;
    border: 2px solid green;
    padding: 4px;
}
li {
    display: list-item;
    font-size: 18px;
    color: black;
    margin: 6px 0;
}
.text {
    display: block;
    font-size: 16px;
    color: dimgray;
    line-height: 1.5;
    margin: 8px 0;
}
ol {
    display: block;
    margin: 10px 0;
    padding-left: 20px;
    color: purple;
    background-color: blueviolet;
}
body {
    font-family: Arial, sans-serif;
    background-color: #6c6acc;
    color: #333333;
    margin: 0;
    padding: 0;
}
ul {
  list-style-type: none;
  align-items: baseline;
  padding: 0px;
  margin: 0;
}
ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875rem;
}